
# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Ignore subfolders with data that can be downloaded from Coursera
**/*.sqlite
**/*.db
**/*.zip
**/MNIST*database/*.gz
**/MNIST*database/*.idx1-ubyte
**/MNIST*database/*.idx3-ubyte
__pycache__/
.ipynb_checkpoints/

